*.suo

/usmooth/bin
/usmooth/packages
/usmooth/usmooth.app/obj
/usmooth/usmooth.app/x64
/usmooth/usmooth.app/x86
/usmooth/usmooth.common/obj
/usmooth/usmooth.editorplugin/bin
/usmooth/usmooth.editorplugin/obj
/usmooth/usmooth.runtimeplugin/bin
/usmooth/usmooth.runtimeplugin/obj

/usmooth_test_unity/Temp
/usmooth_test_unity/Library
/usmooth_test_unity/UnityVS.usmooth_test_unity.CSharp.csproj
/usmooth_test_unity/UnityVS.usmooth_test_unity.sln
/usmooth_test_unity/Assets/UnityVS/Editor
/usmooth_test_unity/obj
/usmooth_test_unity/*.csproj
/usmooth_test_unity/*.sln