*.suo

/usmooth_client/bin
/usmooth_client/packages
/usmooth_client/usmooth.app/obj
/usmooth_client/usmooth.app/x64
/usmooth_client/usmooth.app/x86
/usmooth_client/usmooth.common/obj
/usmooth_client/usmooth.testserver/obj
/usmooth_client/usmooth.testserver/x64
/usmooth_client/usmooth.testserver/x86
