<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="usmooth.app.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <usmooth.app.Properties.Settings>
            <setting name="VersionMajor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="VersionMinor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VersionPatch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LocalAddr" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>5555</value>
            </setting>
        </usmooth.app.Properties.Settings>
    </applicationSettings>
</configuration>